<div style="width: 50%; background-color: white; margin-left: -6%;">
    <div class="card-body">
        <form>
            <!-- Email input -->
            
            <mdb-form-control class="mb-4">
                <h6 style="font-size: 85%;">Adınız</h6>
              <input mdbInput class="form-control" style="height: 10%; width: 200%;" /> 
            </mdb-form-control>
          
            <!-- Password input -->
            <mdb-form-control class="mb-4">
                <h6 style="font-size: 85%; margin-top: 10%;">Branşınız</h6>
              <input mdbInput class="form-control" style="height: 10%; width: 200%;" />
            </mdb-form-control>
            <!-- Default checkbox -->
<div class="form-check" style="margin-top: 10%;">
    <input
    style="margin-top: 5%;"
      mdbCheckbox
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label for="flexCheckDefault" style="width: 200%; font-size: 80%;">
        Branşım profilde gizlensin mi?
    </label>
  </div>
  <mdb-form-control class="mb-4">
    <h6 style="font-size: 85%; margin-top: 10%;">Ünvan</h6>
  <input mdbInput class="form-control" style="height: 10%; width: 200%;" />
</mdb-form-control>
<h6 style="font-size: 85%; position: absolute; margin-top: -4%; margin-left: 20%;">Yeni Resim Yükleyiniz</h6>
    <input type="file" id="customFile" style="margin-left: 20%; margin-top: -2%; position: absolute; "/>
<img style="width: 10%; position: absolute; margin-top: -16%; margin-left: 22%;" src="https://www.gravatar.com/avatar/2c5df91179a657284c93cd1fd8bcc590?s=80&r=G&d=identicon" alt="">
<div style="position: absolute; width: 40%; height: 50%; margin-left: 38%; margin-top: -18%; background-color: white;">
    <h6 style="font-size: 85%; margin-top: 12px; margin-left: 10px;">Şehir</h6>  
    <mdb-form-control>
        <input mdbInput style="width: 99px; height: 28px; margin-left: 10px;" type="text" id="typeText" class="form-control" />
      </mdb-form-control>
    <h6 style="font-size: 85%; margin-top: -52px; margin-left: 150px;">Adresiniz</h6>
    <mdb-form-control>
        <input mdbInput style="width: 200px; height: 28px; margin-left: 150px;" type="text" id="typeText" class="form-control" />
      </mdb-form-control>
      <button type="button" style="height: 30px; width: 160px; margin-left: 400px; margin-top: -54px; font-size: small;" class="btn btn-success" mdbRipple>Lokasyon Getir</button>
<img width="550px" style="margin-left: 13px;" src="https://cdn.britannica.com/37/245037-050-79129D52/world-map-continents-oceans.jpg" alt="">
    </div>
    <div style="width: 37.3%; margin-left: -1.38%; background-color: white; position: absolute; margin-top: 30px;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Uzmanlık</h6>  
        <mdb-form-control>
            <input mdbInput style="width: 495px; height: 28px; margin-left: 21px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Doktor Biyografisi</h6> 
          <img style="width: 495px; margin-left: 21px;" src="../../../../assets/Görüntü 1.03.2024 21.25.jpg" alt="">
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Tedavi Edilen Hastalıklar</h6> 
          <mdb-form-control>
            <input mdbInput style="width: 495px; height: 28px; margin-left: 21px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Bilinen Diller</h6> 
          <mdb-form-control>
            <input mdbInput style="width: 495px; height: 28px; margin-left: 21px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Anlaşmalı Kurumlar</h6> 
          <mdb-form-control>
            <input mdbInput style="width: 495px; height: 28px; margin-left: 21px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
    </div>
    <div style="position: absolute; width: 40%; margin-left: 38%; margin-top: 160px; background-color: white;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Kod</h6> 
        <mdb-form-control>
          <input mdbInput style="width: 80px; height: 28px; margin-left: 21px;" type="text" id="typeText" class="form-control" />
        </mdb-form-control>
        <h6 style="font-size: 85%; margin-top: -52px; margin-left: 110px;">Tel 1</h6> 
        <mdb-form-control>
          <input mdbInput style="width: 130px; height: 28px; margin-left: 110px; margin-top: 7px;" type="text" id="typeText" class="form-control" />
        </mdb-form-control>
        <div style=" background-color: white; margin-left: 300px; margin-top: -64px;">
            <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Kod</h6> 
            <mdb-form-control>
              <input mdbInput style="width: 80px; height: 28px; margin-left: 21px;" type="text" id="typeText" class="form-control" />
            </mdb-form-control>
            <h6 style="font-size: 85%; margin-top: -52px; margin-left: 110px;">Tel 2</h6> 
            <mdb-form-control>
              <input mdbInput style="width: 130px; height: 28px; margin-left: 110px; margin-top: 7px;" type="text" id="typeText" class="form-control" />
            </mdb-form-control>
            <h6 style="font-size: 85%; margin-top: 10px; margin-left: -280px;">Zupsie Doktor URL</h6> 
            <mdb-form-control>
                <input mdbInput style="width: 520px; margin-bottom: 18px; height: 28px; margin-left: -279px;" type="text" id="typeText" class="form-control" />
              </mdb-form-control>
        </div>
    </div>
    <div style="position: absolute; width: 40%; margin-left: 38%; margin-top: 320px; background-color: white; padding-bottom: 15px;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Tanımlar</h6> 
        <div class="form-check form-check-inline">
            <input
            style="margin-left: 23px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox1">Online Görüşme Active</label>
          </div>
          <div class="form-check form-check-inline">
            <input
            style="margin-left: 10px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox2">Online Soru Active</label>
          </div>
          <div class="form-check form-check-inline">
            <input
            style="margin-left: 10px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox3">Liste Active</label>
          </div>
          <div class="form-check form-check-inline">
            <input
            style="margin-left: 23px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox4"
              value="option4"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox4">Normal Randevu</label>
          </div>
    </div>
    <div style="position: absolute; width: 40%; margin-left: 38%; margin-top: 435px; background-color: white; padding-bottom: 15px;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">İzinler</h6> 
        <div class="form-check form-check-inline">
            <input
            style="margin-left: 23px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox5"
              value="option5"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox5">Hasta Bilgilerine Erişebilsin</label>
          </div>
          <div class="form-check form-check-inline">
            <input
            style="margin-left: 23px;"
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox6"
              value="option6"
            />
            <label style="font-size: 85%;" class="form-check-label" for="inlineCheckbox6">Fiziksel Randevuların Ödemesi Web Üzerinden Alınsın</label>
          </div>
    </div>
    <div style="position: absolute; width: 40%; margin-left: 38%; margin-top: 550px; background-color: white; padding-bottom: 15px;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Online Görüşme Güncelleme Süresi</h6> 
        <mdb-form-control>
            <input mdbInput style="width: 220px; margin-bottom: 18px; height: 28px; margin-left: 20px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
        <h6 style="font-size: 85%; margin-top: -70px; margin-left: 330px;">Normal Görüşme Güncelleme Süresi</h6> 
        <mdb-form-control>
            <input mdbInput style="width: 220px; height: 28px; margin-left: 330px;" type="text" id="typeText" class="form-control" />
          </mdb-form-control>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Çalışma Takvimim</h6>
          <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="far fa-calendar-alt"></i> Çalışma Takvimim</h6></button>
    </div>
    <div style="position: absolute; width: 40%; margin-left: 38%; margin-top: 710px; background-color: white; padding-bottom: 15px;">
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Resim</h6>
          <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Yeni Resim Ekle</h6></button>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Videolar</h6>
          <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Yeni Video Ekle</h6></button>
          <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Özel Hizmetler</h6>
          <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Yeni Hizmet Ekle</h6></button>
        </div>
        <div style="position: absolute; width: 37.3%; margin-left: -20px; margin-top: 605px; background-color: white; padding-bottom: 15px;">
            <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Alınan Eğitimler</h6>
            <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Yeni Eğitim Ekle</h6></button>
            <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">İş Deneyimi</h6>
            <button style="width: 160px; margin-left: 20px; height: 30px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Yeni İş Deneyimi Ekle</h6></button>
        </div>
    <div style="position: absolute; width: 37.3%; margin-left: -20px; margin-top: 770px; background-color: white; padding-bottom: 15px;">
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">İban</h6> 
        <mdb-form-control>
          <input mdbInput style="width: 495px; height: 28px; margin-left: 21px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
        </mdb-form-control>
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Hesap Sahibi</h6> 
        <mdb-form-control>
          <input mdbInput style="width: 495px; height: 28px; margin-left: 21px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
        </mdb-form-control>  
         
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Fiziksel Görüşme Fiyatı</h6> 
        <h6 style="font-size: 85%; margin-top: -24px; margin-left: 292px;">Hesaba Yatırılacak Tutar</h6> 
        <div class="input-group mb-3">
                <span style="height: 28px; width: 35px; margin-left: 21px;" class="input-group-text">₺</span>
                <mdb-form-control>
                    <input mdbInput style="width: 190px; height: 28px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
                  </mdb-form-control>   
                  <span style="height: 28px; width: 35px; margin-left: 45px;" class="input-group-text">₺</span>
                  <mdb-form-control>
                      <input mdbInput style="width: 190px; height: 28px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
                    </mdb-form-control>   
              </div>

        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Online Görüşme Fiyatı</h6> 
        <h6 style="font-size: 85%; margin-top: -24px; margin-left: 292px;">Hesaba Yatırılacak Tutar</h6> 
        <div class="input-group mb-3">
                <span style="height: 28px; width: 35px; margin-left: 21px;" class="input-group-text">₺</span>
                <mdb-form-control>
                    <input mdbInput style="width: 190px; height: 28px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
                  </mdb-form-control>   
                  <span style="height: 28px; width: 35px; margin-left: 45px;" class="input-group-text">₺</span>
                  <mdb-form-control>
                      <input mdbInput style="width: 190px; height: 28px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
                    </mdb-form-control>   
              </div>
              <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Online Görüşme Süresi (dk)</h6> 
              <mdb-form-control>
                <input mdbInput style="width: 495px; height: 28px; margin-left: 21px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
              </mdb-form-control> 
              
        <h6 style="font-size: 85%; margin-top: 12px; margin-left: 21px;">Online Soru Fiyatı</h6> 
        <h6 style="font-size: 85%; margin-top: -24px; margin-left: 292px;">Hesaba Yatırılacak Tutar</h6> 
        <div class="input-group mb-3">
                <span style="height: 28px; width: 35px; margin-left: 21px;" class="input-group-text">₺</span>
                <mdb-form-control>
                    <input mdbInput style="width: 190px; height: 28px; margin-bottom: 20px;" type="text" id="typeText" class="form-control" />
                  </mdb-form-control>   
                  <span style="height: 28px; width: 35px; margin-left: 45px;" class="input-group-text">₺</span>
                  <mdb-form-control>
                      <input mdbInput style="width: 190px; height: 28px; margin-bottom: 10px;" type="text" id="typeText" class="form-control" />
                    </mdb-form-control>   
              </div> 
   </div>
   <button style="position: absolute; width: 160px; margin-left: -18px; height: 30px; margin-top: 1300px;" type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark"><h6 style="font-size: 80%;"><i class="fas fa-plus"></i> Güncelle</h6></button>

</form>
    </div>
  </div>